@brown_dark:rgb(65,55,41);
@brown_middle:rgb(114,95,76);
@brown_middle_transp:rgba(114,95,76,0.7);
@brown_light: rgb(178,163,134);
@brown_light_t20: rgba(178,163,134,0.2);
@fontcolor:rgb(65,55,41);

body{
  font-family: 'Open Sans', sans-serif;
  color:@fontcolor;
  *:not(i){
    font-family: 'Open Sans', sans-serif important;
  }
  background:white;
}
h1,h2,h3,h4{
  font-family: 'Open Sans', sans-serif;
}
a{
  color:@brown_light;
}
blockquote{
  text-align:center;
  font-style: italic;
  font-size:1.8rem;
}
header{
  display:flex;
  justify-content: space-between;
  width:100vw;
  background:transparent;
  position:fixed;
  top:0;
  left:0;
  padding:0 4rem;
  height:200px;
  z-index:999;
  img{
    padding:0;
    margin:0;
  }
  #logolink{
    padding:0;
    margin:0;
  }
  #headermenu{
    margin-top:1rem;  
    .headermenuitem{
      color:white;
      padding:0 0.5rem;
      border-right:1px solid white;
      &:last-child{
        border:none;
      }
    }
  }
}
footer{
  position:fixed;
  bottom:0;
  padding:0 4rem;
  width:100vw;
  left:0;
  z-index:999;
  background:white;
  border-top:1px solid @brown_light;
  &.home{
    border:none!important;
    background:transparent!important;
  }
  a{
    color:@brown_dark!important;
    font-size:0.9rem;
    line-height:2rem!important;
    padding:0 0.5rem;
      border-right:1px solid @brown_dark;
      &:last-child{
        border:none;
      }
  }
  .footermenu{
    
  }
}
.subheader{
  background:@brown_light;
  text-align:center;
  padding:0.5rem 4rem;
  h1{
    color:@brown_dark;
    margin:0;
    padding:0;
    font-weight:400;
    font-size:2rem;
  }
  h2{
    color:@brown_dark;
    margin:0;
    padding:0;
    font-size:1.2rem;
    font-weight:200;
  }
  margin-bottom:2rem; 
}
#home{
  width:100vw;
  min-height:100vh;
  display:flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom:20vh;
  #slogan{
    h1,h2{
      text-align:center;
    }
    h1{
      font-size:5rem;
      font-weight:normal;
      font-weight:200;
    }
    h2{
      font-weight:200;
    }
  }
  #termin{
    position:fixed;
    bottom:2rem;
    background:@brown_middle_transp;
    color:white;
    padding:2rem 4rem;
    display:flex;
    justify-content: space-between;
    .content{
      padding-right:4rem;
      font-size:0.9rem;
    }
  }
}
.blbutton{
  padding:0.5rem 2rem;
  color:white;
  text-align:center;
  border:1px solid @brown_dark;
  background:@brown_middle_transp;
}
.subpage{
  padding:200px 0 4rem 0;
  &.about{
    h4{
      text-align: center;
      font-size:2rem;
      font-weight:normal;
      margin-bottom:2rem;
    }
    .imgw{
      border:1px solid @brown_dark;
      padding:1rem;
      
    }
    .galslogan{
      background: @brown_dark;
      font-size:2rem;
      color:white!important;
      padding:2rem 4rem;
      p{
        color:white!important;
        font-weight:200;
      }
    }
    .rightcontent{
      columns: 2;
      column-gap: 4em;
      ul{
        padding:0;
        li{
          margin-left:1em;
        }
      }
    }
    .leftimgblock{
      .smallimages{
        position:relative;
        padding:1.25rem 0.75rem;
        .column{
          padding:0.25rem;
        }
      }
    }
  }
}
.blockImageContent{
  padding:2rem 0; 
  .column:first-child{
    .imgw{
      padding:1rem;
      border:1px solid @brown_dark;
      max-width:80%;
    }
  }
  h3{
    font-size:1.1rem;
  }
  
}
.blockImageContentW{
  &:nth-child(odd){
    background:@brown_light_t20;
  }
}
.footertxt{
  padding:2rem 4rem;
  background: @brown_dark;
  color:white;
  text-align:center;
}
.teaseroben{
  margin-top:2rem;
}
.galslogan{
  background:@brown_light;
  text-align:center;
  padding:1rem 4rem;
  width:100vw;
  margin:2rem 0;
  p{
    margin:0;
    padding:0;
    text-align:center;
    font-size:2rem;
    color:@brown_dark;
  }
}
.imggal{
  img{
    cursor:pointer;
  }
  .bimg{
    max-width:100%;
  }
  .simg{
    width:32%;
  }
  .imggalcol{
    display:flex;
    justify-content: space-between;
  }
}